.homeDiv {
  width: 100%;
  padding: 10px;
}

.select {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.selectImg {
  border-radius: 5%;
  text-align: center;
  background-color: #f4f4f4;
}

.homeList {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  height: 80%;
  margin-top: 5%;
  overflow: auto; /* Add this line */
}

p {
  margin: 0;
}

.Top {
  display: flex;
  justify-content: space-between;
  /* background-color: lightgray; */
  align-items: center;
}
