.contentBox {
  display: flex;
  justify-content: space-between;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.contentModal {
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
