@font-face {
  font-family: "ADLYeonnamdong";
  font-weight: 50;
  src: url("./fonts/ADLYeonnamdongSlanted.otf");
}

.App {
  background-color: #b3e0ff;
}
.homeTopFont {
  font-family: "ADLYeonnamdong";
  font-size: 30px;
  color: #4040ff;
}

.logo {
  font-family: "ADLYeonnamdong";
  font-size: 80px;
  color: #4040ff;
  padding: 10px;
}
.contentWrap {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: auto;
  background-color: white;
  overflow: auto;
  height: 100vh;
  align-items: center;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .contentWrap {
    width: 80%;
  }
}

.bg-body-tertiary {
  width: 100%;
}

.findIdPw ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: auto;
}

.selectWrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 3%;
}

.list-group-horizontal {
  justify-content: center;
}

.rideWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  padding: 5px;
  align-items: center;
  border: solid 1px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.externalRide {
  width: 100%;
  padding: 20px;
  background-color: white;
  height: 100%;
}

.bottom-nav {
  position: fixed; /* 고정 위치 */
  bottom: 0; /* 하단에 배치 */
  width: 100%; /* 전체 너비 */
  border: solid 1px #304d98;
  border-radius: 1.5px;
  background-color: white;
}
@media (min-width: 768px) {
  .bottom-nav {
    width: 80%; /* 너비 조절 */
  }
}

.bottom-nav div {
  display: flex; /* 추가 */
  align-items: center; /* 추가 */
  justify-content: center; /* 추가 */
  padding: 3px;
}

.bottom-nav ul {
  list-style-type: none; /* 점 없애기 */
  display: flex; /* 수평 배치 */
  padding: 0; /* 기본 패딩 제거 */
  justify-content: space-around; /* 추가 */
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.daylist {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between; /* 요소 사이 공간 동등하게 분배 */
}

.daylist li {
  color: white;
  border: solid 1px #304d98; /* 테두리 색상 조정 */
  border-radius: 5px; /* 모서리 둥글게 */
  padding: 5px; /* 패딩 추가 */
  margin: 3px; /* 리스트 아이템 간 마진 추가 */
  text-align: center; /* 텍스트 중앙 정렬 */
  flex-grow: 1; /* 유연한 너비 조정 */
  background-color: #304d98; /* 배경색 추가 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05); /* 그림자 효과 추가 */
}

.dayWrap {
  width: 100%;
  margin: 10px 0; /* 상단과 하단에 마진 추가 */
  padding: 5px; /* 내부 패딩 추가 */
  background-color: white; /* 배경색 추가 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가*/
  border-radius: 10px; /* 모서리 둥글게 */
}

.tripBtn {
  width: 100px;
  height: 30px;
  color: white;
  background-color: #304d98;
  border: solid 1px #304d98;
  margin: 10px;
  border-radius: 5px;
}

.customDrop {
  color: red;
}

.homeDiv {
  width: 100%;
  padding: 10px;
}
.Top {
  display: flex;
  justify-content: space-between;
  /* background-color: lightgray; */
  align-items: center;
}
